<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Spring login application - Politechnika Lubelska</title>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigationPanel" >
            <ul class="nav">
            <li sec:authorize="!isAuthenticated()">
            <a class="nav-link" th:href="@{/register}">Zarejestruj się</a></li>
            <li sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/profile}">Wyświetl swoje konto</a></li>
            <li sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/users}">Wyświetl użytkowników</a></li>
            <li sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/editprofile}">Edytuj profil</a></li>
            <li sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/deleteprofile}">Usuń profil</a></li>
            <li sec:authorize="!isAuthenticated()">
            <a class="nav-link" th:href="@{/login}">Zaloguj się</a></li>
            <li sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/logout}">Wyloguj się</a></li>
            </ul>
        </nav>
        <div th:fragment="footer">
            <footer class="footer">
                <hr/>
                <p>Adriana Osmulska, projekt w ramach laboratorium Programowanie Aplikacji Internetowych</p>
            </footer>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>