<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Spring login application - Politechnika Lubelska</title>
        <style>
        .footer {
        position: fixed; bottom: 0px; left: 1px; height: 50px;width: 100%;
        }
        .nav > li {
        display: inline;
        background: limegreen;
        }
        a { text-decoration: none; }
        th,td {border: solid 1px black;padding: 5px;}
        </style>
    </head>
    <body>

        <div th:include="layout :: navigationPanel"></div>
                <form th:action="@{/editprofile/save}" method="POST">
                <input type="text" th:field="*{user.name}" placeholder="Imię"th:errorClass="error" />
                <span class="error" th:if="${#fields.hasErrors('user.name')}" th:errors="*{user.name}"></span>
                <br/>
                <input type="text" th:field="*{user.surname}" placeholder="Nazwisko" th:errorClass="error"/>
                <span class="error" th:if="${#fields.hasErrors('user.surname')}" th:errors="*{user.surname}"></span>
                <br/>
                <input type="text" th:field="*{user.login}" placeholder="Login" th:errorClass="error"/>
                <span class="error" th:if="${#fields.hasErrors('user.login')}" th:errors="*{user.login}"></span>
                <br/>
                <input type="password" th:field="*{user.password}" placeholder="Hasło"/>
                <span class="error" th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}"></span>
                <br/>
                <button type="submit">Zapisz zmiany</button>
            </form>
        <div th:include="layout :: footer"></div>
    </body>
</html>