<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Spring login application - Politechnika Lubelska</title>
        <style>
        .footer {
        position: fixed; bottom: 0px; left: 1px; height: 50px;width: 100%;
        }
        .nav > li {
        display: inline;
        background: limegreen;
        }
        a { text-decoration: none; }
        th,td {border: solid 1px black;padding: 5px;}
        </style>
    </head>
    <body>

        <div th:include="layout :: navigationPanel"></div>
            <h1 th:text="'Witaj ' +${user.name} + ' ' + ${user.surname}"></h1>
        <div th:include="layout :: footer"></div>
        <div th:fragment="footer">
            <footer class="footer">
                <hr/>
                <p>Politechnika Lubelska, wprowadzenie do Spring Boot</p>
            </footer>
        </div>
    </body>
</html>