<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Spring login application - Politechnika Lubelska</title>
        <style>
        .footer {
        position: fixed; bottom: 0px; left: 1px; height: 50px;width: 100%;
        }
        .nav > li {
        display: inline;
        background: limegreen;
        }
        a { text-decoration: none; }
        th,td {border: solid 1px black;padding: 5px;}
        </style>
    </head>
    <body>

        <div th:include="layout :: navigationPanel"></div>
            <h1>Rejestracja:</h1>
            <form th:action="@{/register}" method="POST" th:object="${user}">
                <input type="text" th:field="*{name}" placeholder="Imię"/>
                <input type="text" th:field="*{surname}" placeholder="Nazwisko"/>
                <input type="text" th:field="*{login}" placeholder="Login"/>
                <input type="password" th:field="*{password}" placeholder="Hasło"/>
                <button type="submit">Zarejestruj się</button>
            </form>
        <div th:include="layout :: footer"></div>
         
        <div th:fragment="footer">
            <footer class="footer">
                <hr/>
                <p>Politechnika Lubelska, wprowadzenie do Spring Boot</p>
            </footer>
        </div>
    </body>
</html>